# Editor/IDE specific files
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Python general
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
.pytest_cache/

# Document
docs/site/
docs/.rye/
docs/__pycache__/
docs/**/__pycache__/

# Logs
logs/
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Temporary files
*.bak
*.tmp
*~