.md-grid {
  max-width: 1440px;
}

.md-typeset {
  font-size: 15px;
}

.md-content {
  p {
    font-size: 15px;
  }
  li {
    font-size: 15px;

    strong {
      margin-left: 5px;
    }
  }
}

.md-typeset__table {
  th {
    font-size: 14.4px;
  }
  td {
    font-size: 14.4px;
  }
}

.md-typeset .tabbed-labels>label {
  font-size: 14.4px;
}

.md-nav {
  font-size: 14.4px;
}

thead {
  background-color: dimgray;
  color: #fff;
}

/* スマホ向け設定（幅430px以下） */
@media screen and (max-width: 430px) {
  .md-typeset {
    font-size: 0.8rem;
  }

  .md-content p,
  .md-content li {
    font-size: 0.8rem;
  }
  
  .md-typeset__table {
    th {
      font-size: 0.7rem;
    }
    td {
      font-size: 0.7rem;
    }
  }

  .md-typeset .tabbed-labels>label {
    font-size: 0.7rem;
  }

  .md-nav {
    font-size: 0.7rem;
  }
}

/* 
.md-content .footnote p {
  font-size: 0.64rem;
}

.md-typeset a {
  margin: 0 3px;
}

.md-typeset code {
  font-size: 12.6px;
  color: var(--md-code-hl-special-color);
}

.md-typeset pre > code {
  font-size: 12.6px;
  color: initial;
}

.highlight > span {
  color: var(--md-code-hl-special-color) !important;
}

.highlighttable tr {
  font-size: 0.75rem;
}

.highlighttable .linenos {
  font-size: 12.6px;
}
*/
